.jumbotron p {
  font-size: inherit !important;
  margin-bottom: 0.8rem !important;
}

.btn-intro {
  background-color: #03A9F4;
  border-color: #00E5FF;
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.btn-intro:hover,
.btn-intro:active,
.btn-intro:focus {
  background-color: #0288D1;
  color: #fff;
}

#profile .portrait {
  background-image: url('../img/portrait.jpg');
  width: 200px;
  height: 300px;
  margin: 0 auto;
  border-radius: 3%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}